/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON
   =============== */
a {
    text-decoration: none;
    color: inherit
}

li {
    list-style-type: none;
}

.list-inline li {
    display: inline-block;
}

/* flex
   ++++++++++ */
.flexer {
    display: flex;
}

.flexer.col {
    flex-direction: column;
}

.flexer.between {
    justify-content: space-between;
}

/* ++++++++++ */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

/* =============== */

/* MACRO LAYOUT
   =============== */
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #006633;
    justify-content: space-between;
    padding-top: 15px;
    height: 50px;
    padding-bottom: 15px;
    color: white;
}

main {
    padding-top: 50px;
    min-height: calc(100vh - 80px);
}

footer {
    height: 80px;
    border-top: 2px solid slategrey;
    align-items: center;
}

/* =============== */

/* MICRO LAYOUT */

/* main
   ++++++++++ */

h1 {
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    font-size: 120%;
    margin: auto;
}

thead {
    background-color: #00723f;
    color: whitesmoke;
}

tbody {
    background-color: #aeaeae;
}

th,
td {
    padding-left: 3px;
    padding-right: 3px;
    min-width: 70px;
}

td {
    text-align: left;
}

#totale::after,
#prezzo-base::after {
    content: "\20AC";
}

/* ++++++++++ */

/* footer
   ++++++++++ */
footer li:nth-child(1n + 2)::before {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid slategrey;
}

/* ++++++++++ */

/* =============== */